@import url('https://fonts.googleapis.com/css?family=Oswald&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext');

html, body {
  height: 100%;
}

body {
  background-color: $color-background;
  font-family: $font-main;
  font-size: 16px;
  color: $color-text-main;
}

#app {
  max-width: 50rem;
  height: 100%;
  margin: 0 auto;
}


// Mixins

@mixin common-border-shadow {
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  border-radius: 3px;
}
