// Fonts

$font-main:            'Open Sans', sans-serif;
$font-headers:         'Oswald', sans-serif;

// Colors

$color-white:             #fff;
$color-text-main:         #222;
$color-text-light:        #888;
$color-background:        #eee;
$color-accent-normal:     #426791;
$color-accent-dark:       #0b3568;
$color-border:            #aaa;
$color-error:             #b72222;

// Transitions

$easing:                  linear;

$anim-opacity:            opacity 0.3s $easing;
$anim-color:              color 0.2s $easing;
$anim-border-color:       border-color 0.2s $easing;
$anim-background-color:   background-color 0.2s $easing;
$anim-transform:          transform 0.2s $easing;
$anim-top:                top 0.2s $easing;

// Main settings

$gutter:                  0.9375rem;
